/* Forgot Password Page Styles */

body {
    font-family: 'Poppins', sans-serif;
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.forgot-password-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.forgot-password-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.forgot-password-container p {
    font-size: 14px;
    margin-bottom: 20px;
}

.forgot-password-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

.forgot-password-container button {
    padding: 10px 20px;
    background-color: #402337;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s;
}

.forgot-password-container button:hover {
    transform: translateY(-2px);
    background-color: #6a5262;
    
}
